:root {
  --text-dark: #3F3D56;
  --bg-color: #FBFBFB;
  --btn-color: #00BFA6;
  --text-white:#FFFF;
  --text-green:#00BFA6;
  --bg-green:#00AC95;
  --font-1:  'Montserrat', sans-serif;
  --font-2:  'Righteous', cursive;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
body {
  margin: 0;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

}
/* Section Title */
.section-title h1 {
  margin-top: 117px;
  font-weight: var(--font-bold);
  text-align: center;
  font-size: 36px;
  color: var(--text-green);
  font-family: var(--font-1);
}
.section-title h2 {
  margin-top: -20px;
  font-weight: var(--font-bold);
  text-align: center;
  font-size: 24px;
  color: var(--text-dark);
  font-family: var(--font-1);
}
/* End Section title */


/* Button Green */
.btn-green {
  /* margin-top: 10px;
  margin-left: 10px; */
  border: none;
  padding: 11px 17px;
  background-color: var(--btn-color);
  color: var(--text-white);
  border-radius: 10px;
  font-family: var(--font-1);
  font-weight: var(--font-semi-bold);

}
.btn-green:hover {
  background-color: var(--bg-green);
  cursor: pointer;
}
.btn-green:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  transition: 0.1s all;
}
/* End Button Green */


/* .about  */
.content-about{
  /* border:1px solid rgb(255, 0, 0); */
  display:flex;
}

/* .about  */
.content-about .description{
  margin-left:30px;
}

/* .about */
 .content-about .description .text{
  /* border:1px solid rgb(255, 0, 0); */
  margin-top:60px;
  font-size:18px;
  font-family: var(--font-1);
  font-weight: var(--font-medium);
}

/* .about  */
.content-about .description .text .btn-about{
  /* border:1px solid rgb(255, 0, 0); */
  margin-top: 40px;
}

/* end about */