:root {
  --text-dark: #3f3d56;
  --bg-color: #fbfbfb;
  --btn-color: #00bfa6;
  --text-white: #ffff;
  --text-green: #00bfa6;
  --bg-green: #00ac95;
  --font-1: "Montserrat", sans-serif;
  --font-2: "Righteous", cursive;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Awal Navbar */
nav {
  display: flex;
  font-family: var(--font-1);
  font-size: 18px;
  background-color: var(--bg-color);
  justify-content: space-between;
  padding: 15px 70px;
  align-items: center;
}

nav .logo {
  letter-spacing: 3px;
  color: var(--text-green);
  font-size: 36px;
  font-weight: var(--font-bold);
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: var(--text-dark);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--text-green);
}

/* Burger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Burger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  background-color: var(--text-dark);
}

.menu-toggle span:nth-child(3) {
  background-color: var(--text-dark);
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
  background-color: var(--text-dark);
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: var(--text-dark);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: var(--text-dark);
}
/* End Navbar */


/* Section Title */
.section-title h1 {
  margin-top: 117px;
  font-weight: var(--font-bold);
  text-align: center;
  font-size: 36px;
  color: var(--text-green);
  font-family: var(--font-1);
}

.section-title h2 {
  margin-top: -20px;
  font-weight: var(--font-bold);
  text-align: center;
  font-size: 24px;
  color: var(--text-dark);
  font-family: var(--font-1);
}
/* End Section title */

/* Button Green */
.btn-green {
  /* margin-top: 10px;
  margin-left: 10px; */
  border: none;
  padding: 12px 50px;
  background-color: var(--btn-color);
  color: var(--text-white);
  border-radius: 10px;
  font-family: var(--font-1);
  font-weight: var(--font-semi-bold);
  font-size: 16px;
}
.btn-green:hover {
  background-color: var(--bg-green);
  cursor: pointer;
}
.btn-green:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
  transition: 0.1s all;
}
/* End Button Green */


/* Hero Section*/
#hero {
  padding-top: 150px;
  font-family: var(--font-1);
}

#hero .section-hero h1 {
  font-weight: var(--font-bold);
  font-size: 36px;
  display: flex;
  padding-left: 70px;
}

.content-hero .description .text h2 {
  font-size: 24px;
  font-weight: var(--font-medium);
  margin-left: -15px;
  width: 600px;
  margin-top: -10px;
}

.content-hero .description {
  display: flex;
}


.content-hero .description .text h2 span {
  display: flex;
}

.container .content-hero .btn-hero {
  margin-top: 80px;
  margin-left: -600px;
}

.container .content-hero .img-hero {
  margin-left: 350px;
  margin-top: -100px;
}

/* .about  */
.content-about {
  /* border:1px solid rgb(255, 0, 0); */
  display: flex;
}

/* .about  */
.content-about .description {
  margin-left: 30px;
}

/* .about */
.content-about .description .text {
  /* border:1px solid rgb(255, 0, 0); */
  margin-top: 60px;
  font-size: 18px;
  font-family: var(--font-1);
  font-weight: var(--font-medium);
}

/* .about  */
.content-about .description .text .btn-about {
  /* border:1px solid rgb(255, 0, 0); */
  margin-top: 40px;
}

/* end about */

/* Services */
.services .content-services {
  display: flex;

  padding: 5px 100px;
}
.services .content-services .card-left,
.card-right {
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 3px rgba(63, 61, 86, 0.25);
  padding: 44px;
  font-family: var(--font-1);
  display: flex;
  margin-top: 50px;
}
.services .content-services .card-right {
  margin-left: 40px;
}
.services .content-services .card-left .desc-services,
.card-right .desc-services {
  margin-left: 35px;
}
.services .content-services .card-left .img-services,
.card-right .img-services {
  margin-top: 10px;
}
.services .content-services .card-left .desc-services span,
.card-right .desc-services span {
  font-size: 18px;
  font-weight: var(--font-bold);
}
.services .content-services .card-left .desc-services p,
.card-right .desc-services p {
  font-size: 18px;
  margin-top: 5px;
  font-weight: var(--font-medium);
}
/* End Services */

/* Contact */
.form {
  margin-bottom: 30px;
  font-family: var(--font-1);
  margin-top: 50px;
  padding: 10px 25px;
}
.form label {
  font-weight: var(--font-semi-bold);
}
.form input {
  border: 1px solid var(--text-dark);
}
.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 12px 0;
  border-radius: 5px;
  padding: 8px 10px;
}

.btn-send {
  text-align: center;
  margin-top: 30px;
}
/* End Contact */

/* Footer */
.footer-list li {
  list-style: none;
}
.footer {
  background-color: var(--text-green);
  color: #ffff;
  height: 120px;
  padding: 60px;
}
.footer-logo {
  font-family: var(--font-2);
  font-weight: var(--font-semi-bold);
  font-size: 26px;
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
}
.footer-list {
  float: right;
  margin-top: -100px;
  margin-right: 100px;
}
.footer-list li {
  padding-bottom: 20px;
  height: 11px;
  font-family: var(--font-1);
  font-size: 17px;
  font-weight: 500;
}
.footer-bottom {
  text-align: center;
  font-family: var(--font-1);
  background-color: var(--bg-green);
  padding: 12px;
  font-size: 14px;
  color: #ffff;
}
/* End Footer */
